                /*       GENERAL     */
:root{
    --oscuro1: #111111;
    --oscuro2: #181818;

    --claro1: #f0f0f0;
    --claro2:rgb(100, 100, 100);
    --claro3:rgb(218, 218, 218);

    --marca:rgb(2, 149, 185);
    --fondo:rgb(10, 0, 22);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth ;
}
body{
    background-image: linear-gradient(
        120deg,
        var(--fondo) 10%,
        var(--marca) 90%
    );    
    color: var(--claro1);
    display: flex;
    flex-direction: column;

    opacity: 0;
    animation: carga 1s .6s forwards;
}

@keyframes carga{   /*  Animcion carga inicial    */
    to{
        opacity: 1;
    }
}

section{
    display: flex;
}
h1{
    font-size:2.6em;
    font-family: 'Rubik Dirt', cursive;
}

h2{
    font-size:2.2em;
    font-family: 'Rubik Dirt', cursive;
}

h3{
    font-size:1.8em;
    font-family: 'Roboto', sans-serif;
}

h4{
    font-size:1.4em;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size:1.2em;
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

.boton{
    padding: 1em;
    border-radius: 1em;
    font-size: 1em;
}



                /*       TITULO     */

.menu{
    justify-content: space-between;
    width: 100%;
    padding: 1.6em ;
}

.menu h1{
    width: fit-content;
    border-radius: 1em;
    color:var(--marca);
    transition: 0.5s;
    margin: 0;
}

.menu #enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 26vh;

    height: 0;
    transition: .6s;
    overflow: hidden;

    position: absolute;
    top: 0%;
    right: 0%;

    background-color: var(--claro3);
    z-index: 1;

    border-radius: 0 0 0 3em;
}

.menu li{
    margin: 0;
    padding: 0.6em;
    border-radius: 0.6em;
    width: fit-content;
    font-weight: bold;
}

.menu a {
    color: var(--oscuro1);
    transition: 0.6s;
    width: fit-content ;
}

.menu li:hover a{
    color: var(--marca);
}


/* MENU MOBILE */
.menu #abrir{
    font-size: 3em;
    color: var(--claro1);
}
.menu #cerrar{
    display: none;
    width: fit-content;

    font-size: 2em;
}
.menu:target #cerrar{
    display: block;
}
.menu:target #enlaces{
    height: 44vh;
}



                /*       PRESENTACION     */
.presentacion{
    padding: 2em 1em;
    border-top: 1px solid var(--marca);
    flex-direction: column;
    max-width: 1200px;
    align-self: center;
    transition: 1s;
}

.presentacion img{
    border-radius: 50%;
    width: 80%;
    align-self: center;
    transition: 1s;
}

.presentacion .contenido{
    flex-direction: column;
}

.presentacion .titulos{
    flex-direction: column;
    align-self: center;
    width: 80%;
}

.presentacion h2{
    margin: 0.4em 0;
    color:var(--marca);
}

.presentacion .redes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

.presentacion a{
    padding: 0.2em 0.6em;
    border: 2px solid var(--claro1);
    border-radius: 50%;
    color: var(--claro1);
    font-size: 1.2em;
    transition: all 0.4s ease;
}

.presentacion a:hover{
    background-color: var(--claro1);
    color: var(--fondo);
}


                /*       ABOUT     */

.about{
    flex-direction: column;
    padding: 4em 1em;
    background-color: var(--claro3);
}

.about h2{
    color: var(--oscuro1);
}

.about p{
    color:var(--oscuro1);
}


                /*       PROYECTOS     */

.proyectos{
    padding: 4em .4em;
    flex-direction: column;
}

.proyectos h2{
    text-align: center;
    margin-bottom: 1em;
}

.proyectos .info{
    flex-direction: column;
}

.proyectos h3{
    color: var(--marca);
    font-weight: 900;
    margin-left: .6em;
}

.proyectos p{
    margin-bottom: 1em;
}

.proyectos img {
    border-radius: 0.2em;
    width: 100%;
}

.proyectos a:hover .boton{
    background-color: var(--marca);
    color: var(--claro1);
}

.proyectos .botones{
    margin: 1em;
    align-self: center;
}

.proyectos .boton{
    background-color:var(--fondo);
    margin: 0 1em;
    color: var(--claro1);
    transition: .6s;
}


/* DESCRIPCION */
.btn-desc{
    cursor: pointer;
    margin: 0 1em;
    color: var(--claro1);
    font-weight: 600;
}

.text-desc{
    height: 0;
    overflow: hidden;
    transition: 1s;
}



/* PROYECTO */
.proyecto{
    border-radius: 1em;
    padding: 1em 0;
    flex-direction: column;
    margin-bottom: 2em;
    transition: 0.5s;
}
.proyecto .muestra-sitio{
    flex-direction: column;
}



/*---------------------- Carrusel ----------------------------*/

.carousel-container{
    margin:auto;
    position: relative;
}

.carousel {
    width: 94%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    height: 65vh;
    max-width: 800px; /* Puedes cambiar esto si deseas un límite de ancho */
    margin: auto;
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.carousel-slide {
    display: flex;
    transition: transform 7.5s ease-in-out;
}

.carrrousel-item {
    width: 100%; /* Cada imagen ocupa el 100% del contenedor */
    flex-shrink: 0; /* Asegura que las imágenes no se encogen */
    border-radius: 10px;
}

.carousel-boton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    z-index: 1;
}

#prevBtn {
    left: 1px;
}

#nextBtn {
    right: 1px;
}

button:focus {
    outline: none;
}




                /*       SKILLS     */

.skills{
    flex-direction: column;
    width: 90%;
    margin: 0 auto 4em auto;
    border-radius: 1em;
    background-color: var(--claro1);
    color: var(--fondo);
    transition: 0.5s;
}

.skills h2 {
    text-align: center;
    margin-top: 1em;
    color:var(--marca);
}

.skills .lista{
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

.skills h4{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills img{
    color: pink;
    width: 2em;
}


                /*       FORMACION     */

.formacion {
    flex-direction: column;
    margin-top: 6em;
    color: var(--claro1);
    background-color: var(--fondo);
}

.formacion .tarjetas{
    flex-direction: column;
    margin-bottom: 1em;
}

.formacion .tarjeta{
    flex-direction: column;
    margin:1em 0;
}

.formacion h2{
    text-align: center;
    align-self: center;
    margin-top: -2em;
    border-radius: 1em;
    background-color: var(--fondo);
    width: fit-content;
    padding: 1em 2em;
    transition: .5s;
}

.formacion .titulos{
    flex-direction: column;
    margin-left: 2em;
}

.formacion h4{
    margin: 0.1em 0;
}

.formacion img{
    width: 80%;
    margin: 2em auto;
    border-radius: 0.2em;
}



                /*       CONTACTO     */

.contacto{
    flex-direction: column;
    text-align: center;
    padding-top: 4em;
    color: var(--claro1);
}

.contacto h4{
    margin: 1em;
}

.contacto .redes{
    justify-content: space-evenly;
}

.contacto .link{
    flex-direction: column;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    color: var(--claro1);
    transition: all 0.4s ease;
}

.contacto .link:hover{
    background-color: var(--fondo);
    color: var(--claro1);
    font-weight: bold;
}

.contacto .nombre-red{
    display: none;
}

.contacto i{
    font-size: 2em;
}


                /*       FOOTER     */

.footer{
    padding: 2em;
    justify-content: center;
}

.footer p{
    font-size: 1em;
    color: var(--fondo);
}

.footer a{
    color: var(--fondo);
    position: absolute;
    right: 1%;
}


                /*       RESPONSIVE     */
@media screen and (min-width:768px){
    .menu{
        padding: 2em ;
    }
    .menu ul{
        flex-direction: row;
        margin: 1em;
    } 

    .menu #enlaces{
        right: 3%;
        width: 34vh;
        border-radius: 0 0 3em 3em;
    }


    .presentacion{
        margin: 4em 2em;
        border-radius: 1em;
        border: 0;
    }

    .presentacion img{
        width: 50%;
    }

    .presentacion .titulos{
        margin: 2em 4em;
    }

    .presentacion .redes{
        margin: 2em 0;
    }

    .presentacion a{
        margin: 0.2em 0.4em;
        font-size: 2em;
    }


    .about{
        padding: 4em 2em;
        margin: 1em 0;
    }

    .about p {
        margin: 1em 0 1em 0;
    }

    .proyectos{
        padding: 4em 1em;
    }

    .proyecto{
        border-top: 2px solid var(--claro1);
        width: 90%;
        align-self: center;
        margin-top: 1em;
        padding: 2em;
    }

    .text-desc{
        height: fit-content;
    }

    .btn-desc{
        display: none;
    }


    .skills{
        width: 70%;
        margin: 4em auto;
    }

    .skills h4{
        margin: 1.4em 1em ;
    }


    .formacion .tarjetas{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2em 1em;
    }

    .formacion .tarjeta{
        width: 50%;
        margin: 2em 0;
    }

    .formacion img{
        width: 80%;
        margin: 2em auto;
    }

    .formacion .titulos{
        margin: 0 auto;
        width: 70%;
    }


    .contacto{
        padding: 4em 2em 0 2em;
    }

    .contacto h4{
        margin: 2em;
    }

    .contacto .redes{
        margin: 1em 0;
    }

    .contacto .link{
        padding: 0.4em 2em;
    }

    /*  ----------- Animacion Elevar           */


    .animated-element{
        transition: transform 0.4s ease-in-out;
        transform: translate(0, 0);
    }

    .animated {
    transform: translate(-4px, -6px);
    box-shadow: 6px 8px 12px var(--oscuro1);
    }

    .animated.presentacion, .animated.formacion-titulo{
        box-shadow: 6px 6px 10px var(--claro2);
    }

    .animated .foto-perfil {
        opacity: .7;
    }
}


@media screen and (min-width:1024px){
    .menu{
        flex-direction: row;
        align-items: center;
    }

    .menu li{
        margin: 0.6em 1.2em;
    }

    .menu #abrir{
        display: none;
    }

    .menu #enlaces{
        height: fit-content;
        flex-direction: row;
        width: fit-content;
        position: relative;
        background-color: transparent;
    }

    .menu a{
        color: var(--claro1);
    }


    .presentacion{
        flex-direction: row;
        margin: 2em;
    }

    .presentacion .contenido{
        justify-content: space-between;
        
        width: 60%;
    }

    .presentacion .titulos{
        margin: 2em 0 2em 1em;
        width: fit-content;
    }

    .presentacion img{
        opacity: 0.1;
    }
    
    .presentacion .redes{
        margin: 2em 0;
    }


    .about{
        padding: 6em 16em 6em 4em;
        margin: 6em 0;
    }


    .proyectos{
        padding: 1em;
    }

    .proyectos .info{
        margin: 0 2em;    
    }

    .proyecto{
        flex-direction: row;
    }

    .proyecto img{
       width: 60vh;
    }

    .carousel-container{
        width: 60vw;
    }


    .skills{
        margin: 8em auto;
    }

    .skills h4{
        flex-direction: row;
        margin: 1.4em 2em;
    }


    .formacion{
        padding-bottom: 4em;
    }

    .formacion .tarjeta{
        width: 33%;
        margin: 0 auto;
    }


    .contacto .redes{
        margin: 2em auto ;
        width: 90%;
    }

    .contacto .link{
        width: 20%;
        max-width: 14em;
        margin: 0 2em;
        text-align: center;
    }
    
    .contacto .nombre-red{
        display: block;
        font-size: 1em;
    }
}