                /*       GENERAL     */
:root{
    --oscuro1: #111111;
    --oscuro2: #181818;

    --claro1: #f0f0f0;
    --claro2:rgb(100, 100, 100);
    --claro3:rgb(218, 218, 218);

    --marca:rgb(2, 149, 185);
    --fondo:rgb(10, 0, 22);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth ;
}
body{
    background-image: linear-gradient(
        120deg,
        var(--fondo) 10%,
        var(--claro3) 90%
    );    
    color: var(--claro1);
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
}
h1{
    font-size:2.6em;
    font-family: 'Rubik Dirt', cursive;

}
h2{
    font-size:2.2em;
    font-family: 'Rubik Dirt', cursive;

}
h3{
    font-size:1.8em;
    font-family: 'Roboto', sans-serif;

}
h4{
    font-size:1.4em;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size:1.2em;
    
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;

}
.boton{
    padding: 1em;
    border-radius: 1em;
    font-size: 1em;
}


                /*       TITULO     */

.menu{
    justify-content: space-between;
    width: 100%;
    padding: 2em ;
}
.menu h1{
    width: fit-content;
    border-radius: 1em;
    color:var(--marca);
    transition: 0.5s;
}

.menu #enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 26vh;

    height: 0;
    transition: .6s;
    overflow: hidden;

    position: absolute;
    top: 0%;
    right: 0%;

    background-color: var(--claro3);
    z-index: 1;

    border-radius: 0 0 0 3em;
}
.menu li{
    margin: 0;
    padding: 0.6em;
    border-radius: 0.6em;
    width: fit-content;
    font-weight: bold;
}
.menu a {
    color: var(--oscuro1);
    transition: 0.6s;
    width: fit-content ;
}
.menu li:hover a{
    color: var(--marca);
}

/* MENU MOBILE */
.menu #abrir{
    font-size: 3em;
    color: var(--claro1);
}
.menu #cerrar{
    display: none;
    width: fit-content;

    font-size: 2em;
}
.menu:target #cerrar{
    display: block;
}
.menu:target #enlaces{
    height: 44vh;
    
}


                /*       PRESENTACION     */
.presentacion{
    margin: 2em 0;
    padding: 2em 1em;
    border-top: 3px solid var(--marca);
    flex-direction: column;
    max-width: 1200px;
    align-self: center;
    transition: 1s;

}

.presentacion img{
    border-radius: 50%;
    width: 80%;
    align-self: center;
    transition: 1s;
}
.presentacion .contenido{
    flex-direction: column;
}
.presentacion .titulos{
    flex-direction: column;
    align-self: center;
    width: 80%;
}
.presentacion h2{
    margin: 0.4em 0;
    color:var(--marca);

}
.presentacion .redes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}
.presentacion a{
    padding: 0.2em 0.6em;
    border: 2px solid var(--claro1);
    border-radius: 50%;
    color: var(--claro1);
    font-size: 1.2em;
    transition: all 0.4s ease;

}
.presentacion a:hover{
    background-color: var(--claro1);
    color: var(--fondo);

}

                /*       ABOUT     */

.about{
    flex-direction: column;
    padding: 4em 1em;
    background-color: var(--claro3);
}
.about h2{
    color: var(--oscuro1);
}
.about p{
    color:var(--oscuro1);

}


                /*       PROYECTOS     */

.proyectos{
    padding: 4em 1em;
    flex-direction: column;
}

.proyectos h2{
    text-align: center;
    margin-bottom: 1em;
}
.proyectos .info{
    flex-direction: column;
}
.proyectos h3{
    color: var(--marca);
    font-weight: 900;

}
.proyectos p{
    margin-bottom: 1em;
}
.proyectos img {
    border-radius: 0.2em;
    width: 100%;
}
.proyectos a:hover .boton{
    background-color: var(--marca);
    color: var(--claro1);
}
.proyectos .botones{
    margin: 1em;
    align-self: center;
}
.proyectos .boton{
    background-color:var(--fondo);
    margin: 0 1em;
    color: var(--claro1);
    transition: .6s;
}

/* DESCRIPCION */
.btn-desc{
    cursor: pointer;
    margin: 0 1em;
    color: var(--claro1);
    font-weight: 600;
}
.text-desc{
    height: 0;
    overflow: hidden;
    transition: 1s;
}



/* PROYECTO */
.proyecto{
    border: 2px solid var(--claro1);
    border-radius: 1em;
    padding: 1em 0.4em;
    flex-direction: column;
    margin-bottom: 2em;
    transition: 0.5s;
}
.proyecto:hover{
    box-shadow: 6px 8px 12px var(--oscuro1);
    translate: -4px -4px;
}
.proyecto .muestra-sitio{
    flex-direction: column;
}

/*  CAROUSEL  */
.contenedor-estaticas{
    color: var(--oscuro1);
    flex-direction: column;
    align-items: center;
    margin: 4em auto;
}
.contenedor-estaticas h3{
    color: var(--fondo);
    font-weight: 800;
    padding: 1em;
    background-color: var(--claro3);
    border-radius: 1em;
    transition: 0.5s;
}
.contenedor-estaticas:hover h3{
    box-shadow: 6px 8px 12px var(--oscuro1);
    translate: -4px -4px;
}
.carousel-inner{
    width: 80%;
    margin: auto;
}
.carousel-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-carousel{
    width: 100%;
}
.link-carousel{
    margin: 1em;
}

                /*       SKILLS     */

.skills{
    flex-direction: column;
    border: 1px solid var(--oscuro1);
    width: 90%;
    margin: 0 auto 8em auto;
    border-radius: 1em;
    background-color: var(--fondo);
    color: var(--claro1);
    transition: 0.5s;
}
.skills:hover{
    box-shadow: 4px 6px 10px var(--oscuro1);
    translate: -4px -12px;
}
.skills h2 {
    text-align: center;
    margin-top: 1em;
    color:var(--marca);

}
.skills .lista{
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}
.skills h4{
    margin: 1em;
}

                /*       FORMACION     */

.formacion {
    flex-direction: column;
    margin-top: 6em;
    color: var(--claro1);
    background-color: var(--marca);
    border-top:  2px solid var(--claro1);
}
.formacion .tarjetas{
    flex-direction: column;
    margin: 2em 1em;
}
.formacion .tarjeta{
    flex-direction: column;
    margin:1em;
}
.formacion h2{
    text-align: center;
    align-self: center;
    margin-top: -2em;
    border: 2px solid var(--claro1);
    border-radius: 1em;
    background-color: var(--marca);
    width: fit-content;
    padding: 1em 2em;
    transition: .5s;
}
.formacion:hover h2{
    box-shadow: 6px 8px 12px var(--oscuro1);
    translate: -4px -4px;
}
.formacion .titulos{
    flex-direction: column;
    margin-left: 2em;
}
.formacion h4{
    margin: 0.1em 0;
}
.formacion img{
    width: 80%;
    margin: 2em auto;
    border-radius: 0.2em;
}



                /*       CONTACTO     */

.contacto{
    flex-direction: column;
    text-align: center;
    padding: 4em 2em 0 2em;
    color: var(--fondo);
}
.contacto h4{
    margin: 1em;
}
.contacto .redes{
    justify-content: space-evenly;
}
.contacto .link{
    flex-direction: column;
    padding: 0.4em 1.6em;
    border-radius: 0.4em;
    color: var(--fondo);
    transition: all 0.4s ease;

}
.contacto .link:hover{
    background-color: var(--fondo);
    color: var(--claro1);
    font-weight: bold;
}
.contacto .nombre-red{
    display: none;
}
.contacto i{
    font-size: 2em;
}


                /*       FOOTER     */

.footer{
    padding: 2em;
    justify-content: center;
}
.footer p{
    font-size: 1em;
    color: var(--fondo);
}
.footer a{
    color: var(--fondo);
    position: absolute;
    right: 1%;
}


                /*       RESPONSIVE     */
@media screen and (min-width:768px){

    .menu ul{
        flex-direction: row;
        margin: 1em;
    } 
    .menu h1{
        box-shadow: 4px 4px 6px var(--claro2);
        padding: 0.8em;
    }
    .menu #enlaces{
        right: 3%;
        width: 34vh;
        border-radius: 0 0 3em 3em;
    }


    .presentacion{
        margin: 4em 2em;
        border: 2px solid var(--marca);
        border-radius: 1em;
    }
    .presentacion img{
        width: 50%;
    }
    .presentacion .titulos{
        margin: 2em 4em;
    }
    .presentacion .redes{
        margin: 2em 0;
    }
    .presentacion a{
        margin: 0.2em 0.4em;
        font-size: 2em;
    }


    .about{
        padding: 4em 2em;
        margin: 1em 0;

    }
    .about p {
        margin: 1em 0 1em 0;
    }


    .proyecto{
        width: 90%;
        align-self: center;
        margin-top: 1em;
        padding: 2em;
    }
    .text-desc{
        height: fit-content;
    }
    .btn-desc{
        display: none;
    }


    .skills{
        width: 70%;
        margin: 4em auto;
    }


    .formacion .tarjetas{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .formacion .tarjeta{
        width: 50%;
        margin: 2em 0;
    }
    .formacion img{
        width: 80%;
        margin: 2em auto;
    }
    .formacion .titulos{
        margin: 0 auto;
        width: 70%;
    }


    .contacto h4{
        margin: 2em;
    }
    .contacto .redes{
        margin: 1em 0;
    }
    .contacto .link{
        padding: 0.4em 2em;
    }
    .contacto:hover .link{
        box-shadow: 6px 8px 12px var(--oscuro1);
        translate: -4px -4px;
    }
    
}



@media screen and (min-width:1024px){
    .menu{
        flex-direction: row;
        align-items: center;
    }
    .menu h1{
        box-shadow: none;
    }
    .menu:hover h1{
        box-shadow: 4px 4px 6px var(--claro2);
        translate: -4px -4px;
    }
    .menu li{
        margin: 0.6em 1.2em;
    }
    .menu #abrir{
        display: none;
    }
    .menu #enlaces{
        height: fit-content;
        flex-direction: row;
        width: fit-content;
        position: relative;
        background-color: transparent;
    }
    .menu a{
        color: var(--claro1);
    }


    .presentacion{
        flex-direction: row;
        margin: 2em;
    }
    .presentacion:hover{
        box-shadow: 6px 8px 6px var(--claro2);
        translate: -4px -10px;
    }
    .presentacion .contenido{
        justify-content: space-between;
        
        width: 60%;
    }
    .presentacion .titulos{
        margin: 2em 0 2em 1em;
        width: fit-content;
    }
    .presentacion img{
        opacity: 0.2;

    }
    
    .presentacion:hover img{
        opacity: 1;
    }
    .presentacion .redes{
        margin: 2em 0;
    }


    .about{
        padding: 6em 16em 6em 4em;
        margin: 6em 0;
    }


    .proyectos{
        padding: 1em;
    }
    .proyectos .info{
        margin: 0 2em;    
    }
    .proyecto{
        flex-direction: row;
    }
    .proyecto img{
       width: 60vh;
    }


    .skills{
        margin: 8em auto;
    }


    .formacion{
        padding-bottom: 4em;
    }
    .formacion .tarjeta{
        width: 33%;
        margin: 0 auto;
        
    }


    .contacto .redes{
        margin: 2em auto ;
        width: 90%;
    }
    .contacto .link{
        width: 20%;
        max-width: 14em;
        margin: 0 2em;
        text-align: center;
    }
    .contacto .nombre-red{
        display: block;
        font-size: 1em;
    }
}




